body{
	background: linear-gradient(to bottom, #f6f6f6 1%,#f0f0f0 19%,#efefef 39%,#ededed 59%,#dddddd 81%,#cccccc 100%);
}
.head{
	width: 100%;
}

.content{
	border: 1px solid #FC2B5F;
	border-radius:0 3px;
	border-top:none;
	width: 1000px;
	min-height: 560px;
	margin: 0 auto;
	padding: 16px;
	margin-bottom: 10px;
	
}
.choose_level{
	height: 100px;
	float: left;
}
#levels,#answer_types{
	text-align: center;
	padding-top: 30px;
}
.choose_knowledge_content{
	width: 100%;
	min-height: 450px;
	clear: both;
	border-top: 1px solid #3B98FF;
}
.choose_knowledge_text{
	color: #f00101;
	padding: 10px;
}
.choose_answer_type{
	float: left;
	height: 100px;
	margin-left: 20px;
}
#knowledge_tree{
	min-height:400px;
	max-width: 400px;
}
.submit_layer{
	text-align: center;
	float: right;
	
}
#start_test_btn{
	width: 120px;
	height:50px;
	
}
#knowledge_tree a:HOVER{
	text-decoration: underline;
	color: #EB2352;	
}
#knowledge_tree li {
	padding: 4px;
}

