.user_pic{
	display: inline-block;
	vertical-align: middle;
}
.user_detail{
	margin: 0 30px 0 95px;
	line-height: 22px;
}
.user_detail p{
	margin:20px;
	display: block;
	font-weight: bold;
}
.user_detail input[type='text']{
	height: 30px;
	width: 220px;	
}
.user_pic_layer{
	min-height: 90px;
}
#upload_dialog {
	width: 700px;
	height: 400px;
}