.quest_list{
	padding: 10px;
	text-align: center;
}
.quest_list li{
	margin: 8px;
}
.quest_num_span{
}
.answer,.correct_answer_layer{
	padding: 20px;
}
#fast_answer,#normal_answer{
	display: inline-block;
}
#normal_answer label{
	padding: 0 16px 0 4px;
}
.quest_proper{
	padding: 6px;	
}
#sbmAnswer{
	width: 120px;
	color:white;
	background:#3B98FF;/*for ie*/
	background: linear-gradient(180deg, #3B98FF 10%, #2B98FF 90%);
}
#endExam{
	float:right;
	min-width: 120px;
	color:white;
	background:#D4072A;/*for ie*/
	background: linear-gradient(180deg, #D4072A 10%, #F60009 90%);
}
.ans_correct{
	color: green;
}
.ans_wrong{
	color: red;
}

