.quest_list{
	padding: 10px;
	text-align: center;
}
.quest_list li{
	margin: 8px;
}
.info_name{
	display: inline-block;
	padding: 6px;
}
#fast_answer{
	display: inline-block;
}
.quest_proper{
	padding: 6px;	
}
#endExam{
	float:right;
	min-width: 120px;
	color:white;
	background:#D4072A;/*for ie*/
	background: linear-gradient(180deg, #D4072A 10%, #F60009 90%);
}
.ans_correct{
	color: green;
}
.ans_wrong{
	color: red;
}

