.list_item{
	padding: 16px;
	min-height: 96px;
}
.content{
	width: 1000px;
	min-height: 560px;
	margin: 0 auto;
	padding: 16px;
	margin: 0 auto 10px auto;
	background-color:white;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	
}
.submit_layer{
	margin: 0 auto;
	width: 600px;
}
.separate_line{
	width: 100%;
	height: 1px;
	background-color: #ccc;
	margin-top: 16px;
}
#searchText{
	height: 36px;
	overflow: hidden;
	font-size: 20px;
	color: #333;
	font-family: Î¢ÈíÑÅºÚ;
	
}
#searchText{
	border: 1px solid #FC2B5F;
	border-radius:2px;
	background: white;
	width: 480px;
}
#searchBtn{
	width: 100px;
}
.user_pic{
	float: left;
	margin-top: 4px;
}
.user_pic img {
	height: 80px;
	width: 80px;
}
.user_detail{
	margin: 0 30px 0 95px;
	line-height: 22px;
}
.user_detail p{
	display: block;
	font-weight: bold;
}