.submit_layer{
	margin: 0 auto;
	width: 600px;
}
#searchText{
	height: 36px;
	overflow: hidden;
	font-size: 20px;
	color: #333;
	font-family: Î¢ÈíÑÅºÚ;
	border: 1px solid #FC2B5F;
	border-radius:2px;
	background: white;
	width: 480px;
	
}
#searchBtn{
	width: 100px;
}
.user_pic{
	float: left;
	margin-top: 4px;
}
.actionBtns{
	float: right;	
}
.user_detail{
	margin: 0 30px 0 95px;
	line-height: 22px;
}
.user_detail p{
	display: block;
	font-weight: bold;
}