body{
	background:  #f1f5f8 url(../img/bg.png) center
}

#test_center{
	width: 1110px;
	position: relative;
	padding-top: 10px;
	
}

#content{
	text-align: center;
	padding-top: 10px;
	padding-bottom:10px;
	float: right;
	border:1px solid #3B98FF;
	margin-bottom: 10px;
	width: 630px;
	margin-top: 20px;
}
#answer_logs{
	float: left;
	width:440px;
	padding: 10px;
}
.answer_logs_content{
	max-height: 380px;
	padding-top:10px;
	overflow: auto;
}
.answer_logs_content table{
	max-height:400px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid gray;
	table-layout: fixed;
}
.answer_logs_content table td{
	width:170px;
}
.answer,.correct_answer_layer{
	padding: 20px;
}
#fast_answer,#normal_answer{
	display: inline-block;
}
#normal_answer label{
	padding: 0 16px 0 4px;
}
.quest_proper{
	padding: 6px;	
}
#sbmAnswer{
	width: 120px;
	color:white;
	background:#3B98FF;/*for ie*/
	background: linear-gradient(180deg, #3B98FF 10%, #2B98FF 90%);
}
#endExam{
	min-width: 120px;
	color:white;
	background:#D4072A;/*for ie*/
	background: linear-gradient(180deg, #D4072A 10%, #F60009 90%);
}
.ans_correct{
	color: green;
}
.ans_wrong{
	color: red;
}

