body{
	background:  #f1f5f8 url(../img/bg.png) center
}

.header_box{
	margin: 0 auto;
}
#header .logo{
	
	width: 144px;
	height: 50px;
	float: left;
	margin-left: 30px;
}
#header .logo img{
	width: 48px;
	height: 48px;
	border-radius:24px;
}

#header .nav_bar{
	float: right;
	margin-left: -10px;
	margin-right: 30px;
	width: auto;
	height: auto;
	
}
#header .user_logo{
	width: 48px;
	border-radius:24px;
	vertical-align: middle;
}
#test_center{
	width: 1000px;
	position: relative;
	padding-top: 10px;
	
}

#content{
	text-align: center;
	padding-top: 10px;
	padding-bottom:10px;
	float: right;
	border:1px solid #3B98FF;
	margin-bottom: 10px;
}
#answer_logs{
	float: left;
	width:340px;
	padding: 10px;
}
.answer_logs_content{
	max-height: 180px;
	padding-top:10px;
	overflow: auto;
	
}
.answer,.error_answer{
	padding: 20px;
}
.quest_proper{
	padding: 6px;	
}
#sbmAnswer{
	width: 120px;
	color:white;
	background:#3B98FF;/*for ie*/
	background: linear-gradient(180deg, #3B98FF 10%, #2B98FF 90%);
}
#endExam{
	min-width: 120px;
	color:white;
	background:#D4072A;/*for ie*/
	background: linear-gradient(180deg, #D4072A 10%, #F60009 90%);
}
.ans_correct{
	color: green;
}
.ans_wrong{
	color: red;
}
.hide{
	display: none;
}
.show{
	display: block;
}
